{#
  Variables:
  - items: rendered items markup
  - tabs: associative array with id, title, class
#}
<div class="potd-block">
  <ul class="nav nav-tabs nav-fill" id="potdTab" role="tablist">
    {% for t in elements['#tabs'] %}
      <li class="nav-item" role="presentation">
        <button class="nav-link {{ t.class }}" id="tab-{{ t.id }}" data-bs-toggle="tab" data-bs-target="#{{ t.id }}" type="button" role="tab" aria-controls="{{ t.id }}" aria-selected="true">{{ t.title }}</button>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content" id="potdTabContent">
    {{ elements['#items'] }}
  </div>
</div>
